body{
  background-image: linear-gradient(to right,rgb(12, 47, 105), rgb(15, 71, 65));
}
.info{
  align-items: center;
text-align: center;
padding-top: 50px;
background-color: azure;
opacity: 0.2;
font-size: large;
color: solid black;
font-family: 'Inconsolata', monospace;
border-radius: 50px;
height: 500px;
}
#result #t_people{
  margin-left:5px;
}
#show{
  display:none;
}
input{
  border-radius: 5px;
  padding-top: 10px;
}

#button{
  color:rgb(15, 71, 65);
  background-color: aquamarine;
margin-top: 50px;
  
}
#button:hover{
  background-color: black;
  color: aliceblue;
}

  

